{{ partial "header.html" . }}

{{ $baseurl := .Site.BaseURL }}
<paper-item>
<div class="content">

  <div class="article">
    <div class="title"><div class="main single">{{ .Title }}
    {{if .Params.categories }}
      {{partial "category.html" .}}
    {{end}} 
	</div></div>
	<hr style="clear:both;">
    <div class="markdown-body">{{ .Content }}</div>
	
	<hr style="clear:both;">
	{{partial "tag.html" .}}
	{{ if .Site.DisqusShortname }}
		<div id="disqus_thread"></div>
	{{end}}
  </div>

</div>
</paper-item>
<paper-item>
  {{if .Prev}}
    <a href="{{.Prev.Permalink}}"><paper-fab icon="chevron-left"></paper-fab></a>
  {{else}}
    <paper-fab disabled icon="chevron-left"></paper-fab>
  {{end}}
    <div class="flex"></div>
  {{if .Next}}
    <a href="{{.Next.Permalink}}"><paper-fab icon="chevron-right"></paper-fab></a>
  {{else}}
    <paper-fab disabled icon="chevron-right"></paper-fab>
  {{end}}
</paper-item>

{{ partial "footer.html" . }}

{{ if .Site.DisqusShortname }}
  {{ partial "disqus.html" . }}
{{ end }}